:host {
    margin-top: 2rem;
}

.footer-bar {
    border-top: 0.035rem solid white;
}

.footer-bar > .container {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: .5px;
}
