.container-fluid {
    background-image: url('../../../assets/global.png');
    background-repeat: no-repeat;
}

.vh-100 {
    height: 100vh;
}

input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}