<div class="container-fluid vh-100">
    <div class="col d-flex justify-content-center align-items-center h-100" *tuiLet="$signupresp|async as signupresp">
        <tui-island size="l" textAlign="center" class="shadow">
            <img src="assets/4cloud-logo.png" alt="" loading="lazy" class="pt-4 mb-2">
            <h4>Sign up for an account</h4>
            <form [formGroup]="registerForm" class="mt-4 mx-4" style="min-width: 50vw;">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="mb-3">
                            <tui-input formControlName="firstName" tuiHintContent="Your first name">
                                First Name
                                <span class="tui-required"></span>
                                <input tuiTextfield type="text" formControlName="firstName"
                                    style="-webkit-box-shadow: none !important;" />
                            </tui-input>
                            <tui-error formControlName="firstName" [error]="[] | tuiFieldError |async"></tui-error>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="mb-3">
                            <tui-input formControlName="lastName" tuiHintContent="Your first name">
                                Last Name
                                <span class="tui-required"></span>
                                <input tuiTextfield type="text" formControlName="lastName"
                                    style="-webkit-box-shadow: none !important;" />
                            </tui-input>
                            <tui-error formControlName="lastName" [error]="[] | tuiFieldError |async"></tui-error>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <tui-input formControlName="username" tuiHintContent="Your org email address">
                            Email
                            <span class="tui-required"></span>
                            <input tuiTextfield type="email" formControlName="username"
                                style="-webkit-box-shadow: none !important;" />
                        </tui-input>
                        <tui-error formControlName="username" [error]="[] | tuiFieldError |async"></tui-error>
                    </div>
                </div>

                <button tuiButton type="button" size="m" class="tui-space_right-3 tui-space_bottom-3 tui-space_top-5"
                    iconRight="tuiIconArrowRight" [showLoader]="loading" [disabled]="loading || registerForm.invalid"
                    (click)="signup()">
                    Sign up
                </button>
                <p>Already have an account? <a href="javascript:void(0)" [routerLink]="['/auth/login']"> Login </a>
                    today.</p>
            </form>
        </tui-island>
    </div>
</div>