<div class="container-fluid">
    <tui-breadcrumbs>
        <ng-container *ngFor="let item of breadcrumbitems">
            <a *tuiBreadcrumb tuiLink [routerLink]="item.routerLink">
                {{ item.caption }}
            </a>
        </ng-container>
    </tui-breadcrumbs>
    <tui-island style="height: 80vh; overflow: auto">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h5> <span class="text-muted">Title:</span> {{journal.Title}}</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- <p class="text-muted mb-1">Submitted on:</p> -->
                        <p> {{journal.CreatedAt | date:'medium'}} </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{{journal.CategoryImage}}" style="width: 10rem;" alt="">
            </div>
        </div>

        <tui-editor-socket [content]="journal.Content"></tui-editor-socket>
    </tui-island>
</div>