<div class="container-fluid pb-4">
    <div class="row" *tuiLet="$journals|async as journals">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <tui-tabs [(activeItemIndex)]="activeItemIndex">
                <button tuiTab (click)="onClick('My journals')">
                    <tui-svg src="tuiIconCard" class="tui-space_right-2"></tui-svg>
                    My Journals
                </button>
                <button tuiTab (click)="onClick('Shared')">
                    <tui-svg src="tuiIconRedoLarge" class="tui-space_right-2"></tui-svg>
                    Shared Journals
                </button>
            </tui-tabs>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center align-self-center">
            <button tuiButton type="button" appearance="primary" class="tui-space_right-3" size="s"
                [routerLink]="['/views/journals/add']">
                Add Journal
            </button>
        </div>
    </div>
    <hr>
    <tui-loader [overlay]="true" [showLoader]="!!loading">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-4">
            <div class="col" *ngFor="let journal of myjournals; let l=index">
                <div class="card" style="width: 18rem; height: 20rem; overflow:auto">
                    <img src="{{journal.CategoryImage}}" class="card-img-top" style="height: 11rem;" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title text-capitalize">{{journal.Title}}</h5>
                            <span class="text-muted">{{journal.CategoryName}}</span>
                        </div>
                        <!-- <p class="card-text">{{journal.Content}}</p> -->
                        <div class="w-100 d-flex justify-content-start">
                            <a href="javascript:void(0)" class="btn btn-primary"
                                [routerLink]="['/views/journals', journal.JournalID]">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <tui-table-pagination class="tui-space_top-2" [total]="total" (pageChange)="onPage($event)"
            (sizeChange)="onSize($event)"></tui-table-pagination> -->
    </tui-loader>

</div>