<div class="container-fluid vh-100">
    <div class="col d-flex justify-content-center align-items-center h-100" *tuiLet="$resetpwdResp|async">
        <tui-island size="l" textAlign="center" class="shadow">
            <img src="assets/4cloud-logo.png" alt="" loading="lazy" class="pt-4 mb-2">
            <h4>Set a new password</h4>
            <form [formGroup]="passwordConfirmForm" class="mt-4 mx-4" style="min-width: 25rem;">
                <div class="mb-3">
                    <p>{{passwordConfirmForm.value.email}}</p>
                    <span class="text-muted">Password must be a combination of lower-case, <br>
                        upper-case, numbers, special characters <br> and at least 9 characters long</span>
                </div>
                <div class="mb-3">
                    <tui-input-password formControlName="password" class="tui-space_top-2">
                        Type a password
                        <span class="tui-required"></span>
                        <input tuiTextfield placeholder="Make it secure!" />
                    </tui-input-password>
                    <tui-error formControlName="password" [error]="[] | tuiFieldError |async"></tui-error>
                </div>
                <div class="mb-3">
                    <tui-input-password formControlName="confirmPassword" class="tui-space_top-2">
                        Confirm password
                        <span class="tui-required"></span>
                        <input tuiTextfield placeholder="Validate your password!" />
                    </tui-input-password>
                    <tui-error formControlName="confirmPassword" [error]="[] | tuiFieldError |async"></tui-error>
                </div>
                <button tuiButton type="button" size="m" class="tui-space_right-3 tui-space_bottom-3 tui-space_top-5"
                    iconRight="tuiIconArrowRight" [showLoader]="loading"
                    [disabled]="loading || passwordConfirmForm.invalid" (click)="setPassword()">
                    Submit
                </button>
                <p>Already have an account? <a href="javascript:void(0)" [routerLink]="['/auth/login']"> Login </a>
                    today.</p>
            </form>
        </tui-island>
    </div>
</div>

<ng-template #passwordconfirmTemplate>
    <p i18n>Password reset successful, please proceed to login.</p>
    <button tuiButton type="button" tuiMode="onLight" appearance="outline" size="m" [routerLink]="['/auth/login']">
        Login&nbsp;
    </button>
</ng-template>