<div class="container-fluid vh-100">
    <div class="col d-flex justify-content-center align-items-center h-100 " *tuiLet="$requestreset|async as request">
        <tui-island size="l" textAlign="center" class="shadow">
            <img src="assets/4cloud-logo.png" alt="" loading="lazy" class="pt-4 mb-2">
            <h4>Request a password reset</h4>
            <form [formGroup]="emailForm" class="mt-4 mx-4" style="min-width: 25rem;">
                <div class="mb-3">
                    <tui-input formControlName="email" tuiHintContent="Your org email address">
                        Email
                        <span class="tui-required"></span>
                        <input tuiTextfield type="email" style="-webkit-box-shadow: none !important;"
                            formControlName="email" />
                    </tui-input>
                    <tui-error formControlName="email" [error]="[] | tuiFieldError |async"></tui-error>
                </div>
                <button tuiButton type="button" size="m" class="tui-space_right-3 tui-space_bottom-3 tui-space_top-5"
                    iconRight="tuiIconArrowRight" [showLoader]="loading" [disabled]="loading || emailForm.invalid"
                    (click)="sendReset()">
                    Submit
                </button>
                <p>Don't have an account? <a href="javascript:void(0)" [routerLink]="['/auth/register']"> Register </a>
                    today.</p>
                <p>Already have an account? <a href="javascript:void(0)" [routerLink]="['/auth/login']"> Login </a>
                    today.</p>
            </form>
        </tui-island>
    </div>
</div>