::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #ff7043 !important;
}

::ng-deep {

    .ng-select,
    .ng-select-container {
        min-height: 3rem !important;
        border-radius: 0.625rem !important;
    }
    .editor {
        min-height: 55vh;
    }
}